extends layout

block content
  .camping-main.col-md-10.col-md-offset-1
    .row
      div.col-md-6.camping-title Flouch Farm welcomes you to camp during the
        div.camping-title.text-center Grand Depart 2014
        div.row.camping-subtitle We offer:
        ul.row.camping-list
          li.camping-listitem
            span.feature Plenty of space to camp less than a <i><b>few hundred yards from the tour route</b></i>.
          li.camping-listitem
            span.feature Flat fields with parking permitted next to your tent.
          li.camping-listitem
            span.feature Up to four adults/children included in each pitch purchase.
          li.camping-listitem
            span.feature Camping available from Thursday 3rd July - Monday 7th July.
          li.camping-listitem
            span.feature Pitches for Tents, Motorhomes or Caravans.
          li.camping-listitem
            span.feature Hot shower facilities.
          li.camping-listitem
            span.feature <b>Large new barn</b> adapted for dry comfortable lounging and watching the TV coverage of other stages of the tour. <i><b>Free entrance for campers</b></i>.
          li.camping-listitem
            span.feature Teas, coffees and refreshments marquee.
          li.camping-listitem
            span.feature Bar available in the TV lounge.
          li.camping-listitem
            span.feature Packed lunches on sale from 6am on Saturday and Sunday.
      .col-md-6
        img.col-md-12.camping-image-1(src='/images/IMG_3859_1.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/tent.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/toilets.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/shower.jpg', alt='...')
