extends layout

block content
  //- .main.col-md-10.col-md-offset-1
  //-   .row
  //-     img.col-md-6.col-md-offset-3.title-img(src='/images/flouch_wide.jpg', alt='...')
  //-     .col-md-2.address
  //-       .title
  //-         span address line 1
  //-       .title
  //-         span address line 2
  //-       .title
  //-         span address line 3
