extends layout

block content
  .camping-main.col-md-10.col-md-offset-1
    .row
      div.col-md-6.camping-title Flouch Farm welcomes you to park during the Grand Depart 2014
        div.row.camping-subtitle We offer:
        ul.row.carparking-list-1
          li 
            span.feature Parking for <b>5000</b> cars within 300 yards of the tour route itself.
          li
            span.feature Access straight on to the route via the road (2 mins walk) or via a public footpath through a copse of trees (2 mins walk).
          li
            span.feature Perfect location for disabled access.
          li
            span.feature Card payments accepted at the gate.
          li
            span.feature Car Park open from 6am - 11pm on Sunday 6th July
        div.camping-title Enjoy our Refreshments Marquee, Bar and TV barn during the Event
        div.row.camping-subtitle We offer:
        ul.row.carparking-list-2
          li 
            span.feature A Refreshments Marquee offering teas, coffees, cakes, cold drinks, breakfast bacon butties, pulled pork sandwiches and pre-packed lunches.
          li 
            span.feature Refreshments available from 6am - 11pm on Saturday 5th and Sunday 6th July.
          li 
            span.feature Saturday evening BBQ in the barn.
          li 
            span.feature All day entrance to our Bar and TV barn available free for campers. £1/person entrance for car parkers, £2/person entrance for any other visitors.
        div.carparking-title Our Food Menu
        ul.row.carparking-list-3
          li.carparking-listitem 
            span.feature <b>Saturday morning 6am  Midday</b><br>
            span.feature2 Bacon butties, Hot drinks, Packed lunch sandwiches.
          li.carparking-listitem 
            span.feature <b>Saturday Midday - 11pm</b><br>
            span.feature2 Bar, Hot drinks, BBQ.
          li.carparking-listitem 
            span.feature <b>Sunday morning 6am - Midday</b><br>
            span.feature2 Bacon butties, Hot drinks, Packed lunch sandwiches, Pulled Pork sandwiches
          li.carparking-listitem 
            span.feature <b>Sunday Midday - 7pm</b><br>
            span.feature2 Bar. Hot drinks. Pulled Pork Sandwiches.
      .col-md-6
        img.col-md-4.camping-image-1(src='/images/marquee.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/packedlunch.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/bbq.jpg', alt='...')
        img.col-md-12.camping-image-1(src='/images/carpark.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/bacon-butty.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/pulled-pork.jpg', alt='...')
        img.col-md-4.camping-image-1(src='/images/coffee.jpg', alt='...')
        //- img.col-md-12.camping-image-1(src='/images/cyclist.jpg', alt='...')

