extends layout

block content
  .main.col-md-10.col-md-offset-1
    .row.white-bg
      .contact
        span Where we are...
    .row.white-bg
      img.contact-map(src='/images/location.jpg', alt='...')
