extends layout

block content
  .main.col-md-10.col-md-offset-1
    .row.col-md-12
      .contact.col-md-4.no-spacer 
        .contact-title Where we are...
        .contact-text <b>Flouch Farm</b>
        .contact-text Old Manchester Road
        .contact-text Sheffield
        .contact-text S36 4HH
        .contact-text-last UK
        .contact-text Telephone: +44 (0) 1226 370 022
        .contact-text Mobile: +44 (0)7966 463 695
        .contact-text Email: nigeljw@gmail.com
        .contact-text-last Latitude/Longitude: 53.5105525, -1.7098166
      .contact.col-md-4.spacer 
        .contact-title Directions heading north:
        .contact-text Follow M1 north to Junction 35A
        .contact-text Then head west on A616
        .contact-text Drive for 13.4 miles to Old Manchester Road
        .contact-text At the roundabout, take the 1st exit onto Old Manchester Rd. 
        .contact-text Flouch farm is about 100 yards on your right.
        .contact-text-last <b>Journey time from M1: 17 minutes.</b>
      .contact.col-md-4.no-spacer 
        .contact-title Directions heading south:
        .contact-text Follow M1 south to Junction 37
        .contact-text Head southwest on Whinby Rd/A628 toward Whinby Rd/A628
        .contact-text Continue to follow A628
        .contact-text Go through 3 roundabouts
        .contact-text Turn right onto Thurlstone Rd/A628
        .contact-text Continue to follow A628
        .contact-text At the roundabout, take the 3rd exit onto Whams Rd/A616
        .contact-text At the roundabout, take the 1st exit onto Old Manchester Rd
        .contact-text Flouch farm is about 100 yards on your right.
        .contact-text-last <b>Journey time from M1: 15 minutes.</b>
    .row.col-md-12
      img.col-md-8.col-md-offset-2.contact-map(src='/images/location.jpg', alt='...')

 
