extends layout

block content
  //h1= title
  .main.col-md-10.col-md-offset-1
    //- .row
    //-   img.col-md-6.col-md-offset-3.title-img(src='/images/flouch_wide.jpg', alt='...')
    //-   .col-md-2.address
    //-     .title
    //-       span address line 1
    //-     .title
    //-       span address line 2
    //-     .title
    //-       span address line 3
    .row.white-bg
      span.pageTitle Frequently Asked Questions
    .row.white-bg
      ul
        li
          .bold
            span Are we camping in a working field?
          .normal
            span Yes, sheep graze in these fields; they will be moved several weeks prior to the event. They will return soon after you have gone. Please be considerate and not leave rubbish/broken glass etc.
        li
          .bold
            span How big is a pitch? 
          .normal
            span 9m x 5m.
        li
          .bold
            span Where can I watch the race?
          .normal
            span The Woodhead Pass - Langsett section of the stage 2 grand depart is just 200 yds from the camping field. The route roadside can be accessed via footpaths through a small wooded copse, and takes no longer than 2 minutes on foot. However, from here you can choose your viewing spot. Ride straight onto the route either toward Holme Moss (9 miles), or toward Langsett (1 mile) or continue to High Bradfield (9 miles) and stop where you find your best view of the race!
        li
          .bold
            span Which Roads will be open?
          .normal
            span From midnight on Saturday 5th July the route itself will be closed to cars, however, routes toward penistone (and M1) or toward Huddersfield (and M62) will remain open at all times.
        li
          .bold
            span Where can I park? 
          .normal
            span Campers will be allowed to park next to their tents. (limited to one car per pitch - further parking is available at £10 per car per day, in a separate car parking field)
        li
          .bold
            span Can I bring dogs? 
          .normal
            span No. Dogs are not permitted.
        li
          .bold
            span Will the music keep me awake all night? 
          .normal
            span All music will finish at 11pm. We also have neighbours to think about.
        li
          .bold
            span Are you having a big screen?
          .normal
            span We hope to have a big screen for campers to watch tv coverage of other parts of the route.
        li
          .bold
            span Where and when can I get local groceries? 
          .normal
            span Penistone village is just 5 minutes drive away and offers a host of Restaurants, Pubs and Takeaways, as well as a good sized Tesco.

