extends layout

block content
  //h1= title
  .main.col-md-10.col-md-offset-1
    .row.white-bg-1
      span.col-md-5.description.em Set in beautiful countryside near to Snake Pass in Yorkshire, Flouch Farm welcomes you to come and stay with us during the upcoming Tour de France Grand Depart beginning Saturday 5th July 2014
      img.col-md-3.image-1(src='/images/IMG_3868_1.jpg', alt='...')
      .col-md-1
        .row
          img.sm-img-1(src='/images/IMG_3850_1.jpg', alt='...')
        .row
          img.sm-img-1(src='/images/IMG_3872_1.jpg', alt='...')
        .row
          img.sm-img-1(src='/images/IMG_3835_1.jpg', alt='...')
      img.col-md-3.image-1(src='/images/IMG_3859_1.jpg', alt='...')
    .spacer-1
    .row.white-bg
      .col-md-1
        .row
          img.sm-img(src='/images/2014.jpg', alt='...')
        .row
          img.sm-img(src='/images/2014_2.jpg', alt='...')
        .row
          img.sm-img(src='/images/2014_3.jpg', alt='...')
        .row
          img.sm-img(src='/images/2014_4.jpg', alt='...')
        .row
          img.sm-img(src='/images/2014_5.jpg', alt='...')
        .row
          img.sm-img(src='/images/2014_6.jpg', alt='...')
      img.col-md-3.image-2(src='/images/IMG_3892_1.jpg', alt='...')
      .col-md-5
        .description
          img.img-letour(src='/images/letour.jpg', alt='...')
          span.feature-title <b>Le Tour de France 2014 - Camping</b>
          img.icons(src='/images/icons.jpg', alt='...')
        ul.list
          li 
            span.feature Big screen tv coverage of the remainder of the tour in the comfort of our new, dry barn
          li
            span.feature Saturday night entertainment
          li
            span.feature Evening bar
          li
            span.feature Hot/cold food and drinks
          li
            span.feature Secure bike storage
          li 
            span.feature Toilet and Hot Shower facilities
          li
            span.feature Elsan point
        .buttons
          a.btn.btn-info(type='button', href="/camping") More info
          a.btn.btn-info.button-book(type='button',  href="/booking") Book now!
      div
        img.col-md-3.image-4(src='/images/map_2.jpg', alt='...')
      

  
