extends layout

block content
  //h1= title
  .main.col-md-10.col-md-offset-1
    .row
      div.col-md-6
        div.home-title
          span Set in beautiful countryside near to The Woodhead Pass in Yorkshire, Flouch Farm offers you a central base to all the climbs in this mountain stage. We offer parking, camping, lunches & refreshments during the Tour de France Grand Depart 2014.
        div.col-md-12
          img.col-md-4.camping-image-1(src='/images/IMG_3850_1.jpg', alt='...')
          img.col-md-4.camping-image-1(src='/images/IMG_3872_1.jpg', alt='...')
          img.col-md-4.camping-image-1(src='/images/IMG_3835_1.jpg', alt='...')
      .col-md-6
        img.col-md-12.camping-image-1(src='/images/IMG_3868_1.jpg', alt='...')
    .row
      div.col-md-6.home-tour-div
        .description
          img.img-letour(src='/images/letour.jpg', alt='...')
          span.feature-title <b>Why visit Flouch Farm?</b>
          img.icons(src='/images/icons.jpg', alt='...')
        ul.home-list
          li 
            span.feature Big screen tv coverage of the remainder of the tour in the comfort of our new, dry barn
          li
            span.feature Saturday night entertainment
          li
            span.feature Evening bar
          li
            span.feature Hot/cold food and drinks
          li
            span.feature Secure bike storage
          li 
            span.feature Toilet and Hot Shower facilities
          li
            span.feature Elsan point
        .buttons
          a.btn.btn-info(type='button', href="/camping") More info
          a.btn.btn-info.button-book(type='button',  href="/booking") Book now!
      div.col-md-6
        div.col-md-12
          img.col-md-3.camping-image-1(src='/images/2014_5.jpg', alt='...')
          img.col-md-3.camping-image-1(src='/images/2014_2.jpg', alt='...')
          img.col-md-3.camping-image-1(src='/images/2014_3.jpg', alt='...')
          img.col-md-3.camping-image-1(src='/images/2014_4.jpg', alt='...')
        div.col-md-12
          img.col-md-6.camping-image-1(src='/images/map1.jpg', alt='...')
          img.col-md-6.camping-image-1(src='/images/map3.jpg', alt='...')
      

  
