doctype html
html
  head
    //- meta(name="viewport" content="initial-scale=1")
    description="Flouch Farm is set in beautiful countryside near to The Woodhead Pass in Yorkshire, We offer parking, camping, lunches & refreshments during the Tour de France Grand Depart 2014."
    title= "Flouch Farm"
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

    <!--[if lt IE 9]>
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js")
    <![endif]-->

  body
    .background
      img.col-md-12(src='/images/background_1.jpg', alt='...')
      span.hidden-text Flouch Farm, Tour de France, Stage 2, Grand Depart, yorkshire, Camping, le tour, tour sheffield, camp, overnight stay, Flouch, Langsett, Bradfield, Holme Moss, Woodhead Pass, camp adjacent to route, next to route, along route, family friendly, family run, tourcamping, letour, where-to-stay-in-yorkshire, where to stay in yorkshire, camping in Yorkshire,the-grand-départ-2014, the grand départ 2014, tourdefrancecampingyorkshire, tour de france camping yorkshire, (5-6 July 2014), Tour de France, Opening Ceremony campsite, stage 2
    .headerStripe
      .col-md-offset-1.banner
        span.farmName Flouch Farm
        img.logo(src='/images/logo.png', alt='...')
        .phones
          .landline Phone:  +44 (0)1226 370 022
          .mobile Mobile:  +44 (0)7966 463 695

      span.col-md-offset-1.url www.flouchfarm.co.uk
      a.plus-button.g-page(href="https://plus.google.com/108355281688604143156" rel="publisher") Google+
      img.col-md-3.col-md-offset-8.title-img(src='/images/flouch_wide.jpg', alt='...')
      span.location 53.5105525, -1.7098166
    nav.navbar.navbar-default.col-md-10.col-md-offset-1(role='navigation', position='absolute')
      .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Home
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            mixin nav(href, title)
              li(class=url && url.indexOf(href) == 0 ? 'active' : '')
                a(href=href)= title

            ul.nav.navbar-nav
              +nav('/camping', 'Camping')
              +nav('/carparking', 'Car Parking & Refreshments')
              +nav('/booking', 'Booking')
              +nav('/contact-us', 'Contact Us')
              +nav('/faq', 'FAQ')
    img.paymemt(src='/images/payment.jpg', alt='...')
    block content
    script.
      po = document.createElement('script'); 
      po.type = 'text/javascript'; 
      po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      s = document.getElementsByTagName('script')[0]; 
      s.parentNode.insertBefore(po, s);
    script(src="/javascripts/main.js")
    script.
      var $, jquery;
      $ = jQuery = require('jquery');
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    block scripts
