doctype html
html
  head
    meta(name="viewport" content="initial-scale=1")
    meta(name="keywords" content="Tour de France, Grand Depart, Camping, yorkshire, le tour, tour sheffield, camp, overnight stay, Stage 2, Flouch, Langsett, Bradfield, Holme Moss, Woodhead Pass, camp adjacent to route, next to route, along route, family friendly, family run")
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

    <!--[if lt IE 9]>
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js")
    <![endif]-->

  body
    .background
      img.col-md-12(src='/images/background_1.jpg', alt='...')
    .headerStripe
      span.col-md-offset-1.farmName Flouch Farm
      span.col-md-offset-1.url www.flouchfarm.co.uk
      img.col-md-3.col-md-offset-8.title-img(src='/images/flouch_wide.jpg', alt='...')
    nav.navbar.navbar-default.col-md-10.col-md-offset-1(role='navigation', position='absolute')
      .container-fluid
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Home
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            mixin nav(href, title)
              li(class=url && url.indexOf(href) == 0 ? 'active' : '')
                a(href=href)= title

            ul.nav.navbar-nav
              +nav('/camping', 'Camping')
              +nav('/carparking', 'Car Parking & Refreshments')
              +nav('/booking', 'Booking')
              +nav('/contact-us', 'Contact Us')
              +nav('/faq', 'FAQ')
    img.paymemt(src='/images/payment.jpg', alt='...')
    block content
    script(src="/javascripts/main.js")
    script.
      var $, jquery;
      $ = jQuery = require('jquery');
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    block scripts
