body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@import 'forms';

h1 {
  color: blue;
}

a {
  color: #00B7FF;
}
.farmName{
	font-size: 72px;
	color: white;
}
.url{
	font-size: 12px;
	color: white;
	position: absolute;
	top: 135px;
	left: 5px;
}

#carousel-1 {
  width: 800px;
  height: 600px;
}
#carousel-2 {
  width: 450px;
  height: 600px;
}
p {
	font-size: 30px;
	text-align: left;
	margin-left: 30px;
}
.background{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
}
.headerStripe{
	position: absolute;
	top: 0;
	height: 171px;
	width: 100%;
	background-color: #919148;
}
.main{
	margin-top: 103px;
	/*border: 1px solid #BCBCBC;*/
	/*background-color: white;*/
	/*padding: 1px;*/
}
.address{
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
}
.home-title{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	background-color: white;
	margin-bottom: 5px;
	/*margin: 0;*/
}
.title{
	font-size: 14px;
	font: sans-serif;
}
.pageTitle{
	font-size: 24px;
	font-weight: bold;
	font: sans-serif;
}
.subTitle{
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
	font: sans-serif;
}
.title-img{
	height: 100px;
	padding: 0;
	position: absolute;
	top: 60px;
}

.description{
	font-size: 26px;
	text-align: center;
	padding: 40px 20px 0 20px;
	background-color: white;
	/*margin: 0;*/
}
.image-1{
	padding: 0;
	/*max-width: 400px;*/
	/*max-height: 300px;*/
}
.image-2{
	padding-left: 2px;
	width: 340px;
	max-height: 600px;
}
.image-3{
	padding-left: 40px;
	/*width: 340px;*/
	max-height: 485px;
}
.image-4{
	margin-left: 40px;
	margin-top: 15px;
	width: 340px;
	padding: 0;
	border: 1px solid #BCBCBC;
}

.icons{
	position: absolute;
	left: 300px;
	top: 10px;
	width: 220px;
}

.sm-img-1{
	width: 100%;
	border: 1px solid #BCBCBC;
	max-height: 86px;
}
.sm-img{
	width: 100%;
	border: 1px solid #BCBCBC;
}
.img-letour{
	width: 130px;
}
.bold{
	font-weight: bold;
	padding-top: 15px;
	font-size: 16px;
}
.normal{
	font-weight: normal;
	font-size: 16px;
}
.navbar{
	max-height: 25px;
	font-size: 12px;
	margin-top: 5px;
}
.white-bg{
	background-color: white;
}
.white-bg-1{
	background-color: white;
	max-height: 300px;
}
.spacer-1{
	height: 7px;
}
.feature-title{
	font-size: 24px;
	margin-left: 25px;
}
.feature{
	font-size: 20px;
}
.feature2{
	font-size: 16px;
	margin-bottom: 6px;
}
.buttons{
	padding-left: 30px;
	margin: 0 0 30px 30px;
}
.list{
	margin-top: 20px;
}
.left{
	text-align: left;

}




.home-list{
	margin: 10px 0 30px 30px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	background-color: white;
}
.home-tour-div{
	margin: 5px 0 0 0;
	background-color: white;
}
.logo{
	width: 60px;
	vertical-align: bottom;
	margin: 0 0 8px 10px;
}
.phones{
	margin: 0 0 0 20px;
	display: inline-block;
}
.banner{
	margin-top: 66px;
}
.landline{
	/*position: absolute;
	left: 700px;
	top: 78px;*/
	font-size: 18px;
	color: white;
}
.mobile{
	/*position: absolute;
	left: 700px;
	top: 110px;*/
	font-size: 14px;
	color: white;
}
.location{
	position: absolute;
	left: 412px;
	top: 135px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
.paymemt{
	position: absolute;
	right: 160px;
	top: 15px;
	height: 28px;
}









.contact-map{
	margin-top: 10px;
	padding: 0;
	border: 5px solid #BCBCBC;
}
.contact{
	font-size: 16px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
}
.contact-title{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}
.contact-text{
	font-size: 14px;
	font-weight: normal;
}
.contact-text-last{
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: normal;
}
.button-book{
	margin-left: 5px;
}
.spacer{
	height: 270px;
	border: 5px solid #BCBCBC;
}
.no-spacer {
	height: 270px;
	border: 5px solid #BCBCBC;
}




.camping-title{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 10px 15px 0 15px;
	background-color: white;
	/*margin: 0;*/
}
.camping-list{;
	margin: 10px 0 100px 30px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}
.camping-subtitle{
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	margin: 10px 0 0 30px;
	background-color: white;
}
.camping-image-1{
	padding: 0;
	border: 5px solid #BCBCBC;
	/*max-width: 400px;*/
	/*max-height: 300px;*/
}
.camping-main{
	margin-top: 103px;
	/*border: 1px solid #BCBCBC;*/
	/*background-color: white;*/
	/*padding: 1px;*/
}
.camping-listitem{
	margin-bottom: 15px;
	padding-right: 10px;
}




.carparking-list-1{;
	margin: 10px 0 35px 30px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}
.carparking-list-2{;
	margin: 0 0 35px 30px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}
.carparking-list-3{;
	margin: 0 0 50px 30px;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}
.carparking-listitem{
	margin-bottom: 8px;
	padding-right: 15px;
}
.carparking-title{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: white;
	/*margin: 0;*/
}



.apology{
	background-color: white;
	font-size: 18px;
	border: 2px solid #FF0000;
	color: #FF0000;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
}
.apology-bold{
	background-color: white;
	font-weight: bold;
	font-size: 24px;
	color: #FF0000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.required{
	color: #FF0000;
	padding-top: 11px;
	font-size: 16px;
}
.required-normal-1{
	color: black;
	padding-left: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 16px;
}
.required-normal-2{
	color: black;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 16px;
}
.pay-now{
	padding-right: 20px;
}

.hidden-text{
	position: absolute;
	top: 0;
	left: 0;
	color: transparent;
}